<div class="row marginRow">
           <header>
               <div class="col-md-7">
                   <div class="search hidden-xs hidden-sm">
                      <div angucomplete-alt id="ex1" placeholder="Search" maxlength="50" pause="100" local-data="main.countries" search-fields="name" title-field="name" minlength="1" input-class="form-control form-control-small" match-class="highlight">
  </div>
                   </div>
               </div>
               <div class="col-md-5">
                   <div class="header-rightside">
                       <ul class="list-inline header-top pull-right">
                           <li>
                               <a href="#" class="icon-info">
                                   <i class="fa fa-bell-o" aria-hidden="true" ></i>
                                   <span class="label label-primary">8</span>

                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
           </header>
       </div>
